@import url(https://fonts.googleapis.com/css?family=Raleway:300,600,700)
	;

html {
	font-size: 62.5%;
	box-sizing: border-box
}

*, :after, :before {
	box-sizing: inherit
}

body {
	margin: 0;
	padding: 0;
	color: chocolate;
	background-color: lightgreen;
	font-family:Helvetica, Arial, sans-serif;
	font-size: 1.8rem;
	line-height: 160%;
	font-weight: 300
}

.container {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: Raleway, Helvetica, Arial, sans-serif;
	color: black;
}

img {
	display: block;
	max-width: 100%
}

a {
	font-weight: 700;
	color: violate;
}

a:focus, a:hover {
	text-decoration: none
}

em {
	font-weight: 700;
	font-size: 140%;
	color: blue;
	font-style: normal
}

.header {
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, .2),
		rgba(0, 0, 0, .5)), url(../images/backgrounds/running.jpg);
	background: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .5)),
		url(../images/backgrounds/running.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100vh;
	max-height: 25px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	text-align: center
}

.header .tagline {
	display: none
}

@media screen and (min-width:600px) {
	.header {
		background: -webkit-linear-gradient(top, rgba(230, 189, 80, .2),
			rgba(0, 0, 0, .5)), url(../images/backgrounds/running.jpg);
		background: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .5)),
			url(../images/backgrounds/running.jpg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		height: 100vh;
		max-height: 300px
	}
}

@media screen and (min-width:600px) {
	.header .tagline {
		display: block;
		color: chocolate;
		max-width: 40em;
		line-height: 140%;
		font-size: 2.5rem
	}
	.header .tagline h1 {
		display: none
	}
	.header .tagline em {
		font-size: 140%;
		color: lightgreen;
		font-style: normal
	}
}

.nav {
	margin-top: 1.75rem /* navelements */
}

.nav .nav-elements { /* navbar */
	
}

.nav .nav-elements .branding {
	max-width: 180px;
	margin: 0 auto
}

.nav .nav-elements .navbar {
	margin: 0;
	padding: 0;
	line-height: 120%;
	list-style-type: none;
	margin-top: 2rem;
	width: 100%
}

.nav .nav-elements .navbar a {
	font-weight: 600;
	color: lightgreen;
	text-decoration: none;
	padding: 0 1rem;
	-webkit-transition: 1s ease-out;
	transition: 1s ease-out
}


a.card-title{
font-size: 15px;
font-weight: bold;
color:red;
}


